<div class="sidebar">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">任务提醒</h4>
    </div>
    <ul class="list-group">
      <li class="list-group-item"><strong>病程列表</strong></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
      <li class="list-group-item"><a href="#">崔天明【副主任（主任/科主任首次查房记录）】</a></li>
    </ul>
  </div>
</div>
<div class="main">
  <div class="well well-sm text-right">
    <button class="btn btn-primary btn-sm" type="button" onClick="window.open('patient-list-write.html')">书写病历</button>
    <button class="btn btn-primary btn-sm" type="button">查看病历</button>
  </div>
  <div class="panel panel-default">
    <div class="panel-body clearfix">
      <form class="form-inline">
        <div class="form-group form-group-sm">
          <label for="">床号：</label>
          <input type="text" class="form-control" placeholder="" value="" size="6">
        </div>
        &nbsp;
        <div class="form-group form-group-sm">
          <label for="">住院号：</label>
          <input type="text" class="form-control" placeholder="" value="" size="6">
        </div>
        &nbsp;
        <div class="form-group form-group-sm">
          <label for="">姓名：</label>
          <input type="text" class="form-control" placeholder="" value="" size="6">
        </div>
        &nbsp;
        <div class="form-group form-group-sm">
          <label for="">状态：</label>
          <select class="form-control">
            <option value="">在科</option>
            <option value="">转出</option>
            <option value="">转入</option>
          </select>
        </div>
        &nbsp;
        <div class="form-group form-group-sm">
          <select class="form-control">
            <option value="">我的病人</option>
            <option value="" selected>科室病人</option>
            <option value="">历史病人</option>
          </select>
        </div>
        &nbsp;
        <button type="button" class="btn btn-primary btn-sm">查询</button>
      </form>
    </div>
  </div>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>状态</th>
        <th>床号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>年龄</th>
        <th>费用类型</th>
        <th>所在病区</th>
        <th>入院时间</th>
        <th>主要诊断</th>
        <th>住院医生</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>在院</td>
        <td>1</td>
        <td>张三</td>
        <td>男</td>
        <td>59</td>
        <td>自费</td>
        <td>十病区</td>
        <td>2018-05-16</td>
        <td>关节炎</td>
        <td>郑正</td>
      </tr>
      <tr>
        <td>在院</td>
        <td>1</td>
        <td>张三</td>
        <td>男</td>
        <td>59</td>
        <td>自费</td>
        <td>十病区</td>
        <td>2018-05-16</td>
        <td>关节炎</td>
        <td>郑正</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>
</div>