<div class="sidebar" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">模板管理</h4>
    </div>
    <ul class="list-group">
      <a th:each="menu : ${menus}" class="list-group-item" style="cursor:pointer;" th:url="${menu.menuUrl}" th:text="${menu.menuName}"></a>
      <!--<li class="list-group-item"><a href="#">菜单管理</a></li>-->
    </ul>
  </div>
</div>
<div class="main"></div>
<script>

  $(function() {
    //默认加载用户管理页面
    load();

    $(".list-group a").click(function () {
      $(this).addClass("active").siblings(".active").removeClass("active");
    });
  });

  $(".list-group-item").click(function(){
    $.ajax({
      type: "GET",
      url: $(this).attr("url"),
      async: false,
      error: function (request) {
        parent.layer.alert("Connection error");
      },
      success: function (data) {
        $(".main").initPage(data);
      }
    });
  });

  function load(){
    $.ajax({
      type: "GET",
      url: "/template/temp/index",
      async: false,
      error: function (request) {
        parent.layer.alert("Connection error");
      },
      success: function (data) {
        $(".main").initPage(data);
      }
    });
  }
</script>